.contact-info {
    background-color: rgb(54, 54, 54);
    color: rgb(255, 255, 255);
    padding: 15px;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    font-family: 'Poppins', sans-serif;
    font-size: 0.8rem;
    flex-wrap: wrap;
}

.column {
    flex: 1;
    margin: 5px;
}
.column p {
    margin: 1px 0;
}

.separator {
    width: 2px;
    background-color: rgb(255, 255, 255);
    height: 80px;
    margin: 0 5px;
}

.column h2 {
    color: #ffffff;
    margin: 3px 0;
    font-size: 1.2rem;
}

@media (max-width: 768px) {
    .contact-info {
        flex-direction: column;
        align-items: center;
    }

    .column {
        width: 100%;
        margin: 5px 0;
    }
    .separator {
        width: 70%;
        height: 2px;
        margin: 10px 0;
    }
}

@media (max-width: 480px) {
    .contact-info {
        font-size: 0.7rem;
        padding: 10px;
    }

    .column h2 {
        font-size: 1.2rem;
        margin: 1px 0;
    }

    .column p {
        margin: 1px 0;
    }
}
